@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h4>This App is running in @ViewData["Environment"]</h4>

<p>Use this area to provide additional information.</p>
